*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/database.sqlite
/database/*.sqlite
Homestead.json
Homestead.yaml
Thumbs.db
/deploy-credentials.local.md
/public/assets/img/landing/u1qSDe03fSIxgt4RglUepSLi6vwU7X5fJEg2k1oZ.png
/public/assets/img/landing/AtBGD7faMlfVUjtvQfSgr5K7CsKtd8Pw4861PPAI.png

